.navbar-brand>img {
  
  height: 100%;
  width: auto;
}

#hello {
    border-radius: 200px;
}

#img1 {
    height: 100%;
    width: 100%;
}

#img2 {
    height: 100%;
    width: 100%;
}

#img3 {
    height: 100%;
    width: 100%;
}

#itembox {
    background-color: black;
    height: 500px;
    width: 500px;
}
.space{
    height:85px;
    
    
}
container{
    height:300px;
    width:300px;
    }

h1{
    text-align:center;
     font-family: 'Open Sans', sans-serif; 
    
}
#well{
    text-align:center;
     font-family: 'Cabin', sans-serif; 
    
}
#sevb{
    background-color: #ADBD6A;
    
}
body {
    background-color: #60BCAE;
}
h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
}
#divinfospace{
    background-color:#D3D354;
    width:90%;
    height:200px;
    border:solid #FFF2DD 2px;
    font-family: 'Cabin', sans-serif;
    margin:auto;
    
    
}
#forum{
    margin:auto;
    background-color:#D3D354;
    width:90%;
    height:50%;
    border:solid #FFF2DD 2px;
    font-family: 'Cabin', sans-serif;
    }
footer{
    height:85px;
}
.accimgs{
    height:100%;
    width:100%;
}
p1{
    font-size: 25px;
}
#button{
    background-color:#A0988B;
    padding: 5px;
    top: 87%;
    left:91%;
    box-shadow: 2px 2px #FFF2DD;
}

h3{
    font-family: 'Bellefair', serif;
    font-size:50px;
    
}
h4{
    font-family: 'Bellefair', serif;
    font-size:50px;
    
}
#cnt{
   font-family: 'Cabin', sans-serif; 
}


#food{
    background-color:#C3BAAA;
    
}
p3{
    font-size:20px;
    }
p5{
    font-size:27px;
}
    
#link1{
    font-size: 24px;
}

#img5{
    height:80%;
    width:80%;
}
#navcss{
    color:#FFF2DD;
    background-color:#CCC2B1;
    font-family: 'Cabin', sans-serif;
}
#img6{
    height:80%;
    width:80%;
}

p6{
    font-size:24px;
}
h5{
    font-family: 'Bellefair', serif;
    font-size:50px;
}
#pamela{
   height:500px;
   width:500px;
    margin: 80px 20px 10px 10px;
    float:left;
    position:fixed;
    border: solid black 5px;
}

.ok{
    color:black;
}

#abt{
    
}
